.ic_t5-menu {
	width: 100%;
	background: #A5A5A5;
	border-bottom: 1px #D0DADB solid;
	padding-left: 10px;
	height: 33px;
}

.ic_t5-menu  ul {
	display: block;
	margin: 0;
	padding: 0;
	line-height: 1em;
	list-style: none;
	z-index: 90;
}

.ic_t5-menu  ul li {
	float: left;
	margin: 0 3px 0 0;
	padding: 0;
	font-size: 12px;
	line-height: 1, 5em;
	list-style-type: none;
	vertical-align:  middle;
}

.ic_t5-menu ul li a {
	float: left;
	display: block;
	width: auto;
	font-weight: normal;
	background: transparent;
	text-decoration: none;
	color: #fff;
	margin: 0;
	padding: 0.9em 0.8em 0.5em 1em;
	vertical-align:  middle;
}

.ic_t5-menu  ul li a:hover {
	color: #fff;
	text-decoration: none;
}

.ic_t5-menu  ul li.sep {
	color: white;
	padding: 0.8em 0em 0.5em 0em;
}

/* Commented Backslash Hack hides rule from IE5-Mac \*/
.ic_t5-menu  ul li a {
	float: none;
}

/* End IE5-Mac hack */
.ic_t5-menu  ul.level2, .ic_t5-menu ul.level3 {
	position: absolute;
	top: 0px;
	left: 0px;
	visibility: hidden;
	border-left: 1px solid #fff;
	border-top: 1px solid #fff;
	border-right: 1px solid #fff;
	background: #D2D2D2;
}

.ic_t5-menu  ul.level2 li, .ic_t5-menu ul.level3 li {
	border-bottom: 1px solid #fff;
	float: none;
	margin: 0;
	padding: 0;
	width: 150px;
}

.ic_t5-menu  ul.level2 li a, .ic_t5-menu ul.level3 li a {
	padding: 5px 9px 5px 5px;
}

.ic_t5-menu  ul.level2 li a:hover,.ic_t5-menu  ul.level3 li a:hover {
	font-weight: normal;
	background-color: #FF8401;
	background-image: none;
}

.ic_t5-menu div.morelevels {
	float: right;
	display: inline;
	color: white;
	font-weight: bold;
}

.ic_t5-menu li#toplevelselected {
	border-bottom: 2px solid;
	border-bottom-color: gray;
}