/** Construction Theme **/
div.atwork {
	color: 					#FFF;
	width: 					253px;
	margin-top: 			5px;
	margin-bottom: 			5px;
	text-align: 			left;
	display: 				none;
	min-height: 			40px;
	border: 				1px solid #222;
}

div.atwork div.Growler-notice-head {
	font-weight: 			bold;
	font-size:				14px;
	padding: 				5px 20px;
	color: 					#245769;
}

div.atwork div.Growler-notice-exit {
	float: 					right;
	cursor:					pointer;
	margin: 				3px;
}
div.atwork div.Growler-notice-body {
	padding: 2px 0 10px 25px;
}

